* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reboo", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #0a0a10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    max-width: 414px;
    min-height: 100vh;
    gap: 12px;
}

.blur {
    width: 414px;
    height: 280px;
    background: #FFFFFF;
    position: absolute;
    z-index: -1;
    opacity: 25%;
    filter: blur(24px);
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32.81px;
    text-align: center;
    color: #FFFFFF;
}

.container-inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: rgb(255, 255, 255,0.6);
    margin-bottom: 4px;
    margin-left: 4px;
}

input {
    width: 100%;
    height: 35px;
    margin-bottom: 8px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255,0.6);

    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    margin-left: 4px;
}

.login-bnt {
    margin-top: 10px;
    width: 100%;
    height: 68px;
    line-height: 2.5px;
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    background: #d93856;
    border: none;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}


.login-bnt:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login-bnt:active {
    opacity: 0.6;
}

i {
    font-weight: 900;
    font-size: 22px;
    line-height: 2px;
}

.bnt-google {
    width: 100%;
    height: 68px;
    line-height: 2.5px;
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    background:  rgb(255, 255, 255,0.6);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: #FFFFFF;
    gap: 12px;
}

.bnt-google:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bnt-google:active {
    opacity: 0.6;
}

.container-link {
    margin-top: 20px;
    position: relative;
}

a {
  width: 900;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255,0.6);
}

a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: -3px;
    left: 0;
    transition: 3s ease;
}

a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: -3px;
    left: 0;
}
span {
    color: #FFFFFF;
}

.icon {
    stroke: #d93856;
}